.hacker-news-top-stories {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;

  .header {
    background-color: rgb(255, 102, 0);
    color: #000;
    font-weight: bold;
    padding: 0 0 0 5px;
  }
}
